{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h1>Documents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ document.cote }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ document.titre }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ document.format }}</td>
            </tr>
            <tr>
                <th>CodeOeuvre</th>
                <td>{{ document.codeOeuvre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{#{ path('documents_index') }#}">back to list</a>

    <a href="{#{ path('documents_edit', {'id': document.id}) }#}">edit</a>

    {#{ include('documents/_delete_form.html.twig') }#}
{% endblock %}
