{% extends 'back_office/index.html.twig' %}

{% block title %}Member index{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>MembershipDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.pseudo }}</td>
                <td>{{ member.password }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.membershipDate ? member.membershipDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': member.id}) }}">show</a>
                    {%  if is_granted('EDIT', member) %}
                    <a href="{{ path('member_edit', {'id': member.id}) }}">edit</a>
                    {%  endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-between">
        <div class="pagination">
            {{ knp_pagination_render(members) }}
        </div>
        {%  if is_granted('NEW', members) %}
        <a href="{{ path('member_new') }}" class="alert alert-success">Create new</a>
        {% endif %}
    </div>
{% endblock %}
