{% extends 'back_office/index.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cote</th>
                <th>Titre</th>
                <th>Format</th>
                <th>CodeOeuvre</th>
                <th>Pages</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.cote }}</td>
                <td>{{ book.titre }}</td>
                <td>{{ book.format }}</td>
                <td>{{ book.codeOeuvre }}</td>
                <td> {{ book.pages }}</td>
                {% if book.id == 266 %}
                <td><img src={{ "../../../public/images/documents/"~book.img }} alt=""></td>
                {% else %}
                    <td><img src="{{ book.img}}" alt=""></td>
                {% endif %}
                    <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-between">
        <div class="pagination">
            {{ knp_pagination_render(books) }}
        </div>
        <a href="{{ path('book_new') }}" class="btn btn-success">Create new</a>
    </div>


{% endblock %}
