{% extends 'back_office/index.html.twig' %}
{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ book.cote }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.titre }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ book.format }}</td>
            </tr>
            <tr>
                <th>CodeOeuvre</th>
                <td>{{ book.codeOeuvre }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ book.pages }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}" class="btn btn-outline-secondary">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-outline-warning">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
