{% extends 'back_office/index.html.twig' %}


{% block title %}Participates index{% endblock %}

{% block body %}
    <h1>Participates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ParticipatesId</th>
                <th>MeetupId</th>
                <th>Meetup</th>
                <th>Particioants</th>
                <th>Réservations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participate in participates %}
            <tr>
                <td>{{ participate.id }}</td>
                <td>{{ participate.meetUpId.id }}</td>
                <td>{{ participate.meetUpId.creatorId.firstName}} {{ participate.meetUpId.creatorId.lastName}}</td>
                <td>{{ participate.userId.firstName }} {{  participate.userId.lastName}}</td>
                <td>{{ participate.meetUpId | sumOfPlacesByMeetup }}<a href="#" id="extend" class="badge-pill badge-info ml-4">voir les participants</a></td>
                <td>
                    <a href="{{ path('participates_show', {'id': participate.id}) }}">show</a>
                    <a href="{{ path('participates_edit', {'id': participate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-between">
        <div class="pagination">
            {{ knp_pagination_render(participates) }}
        </div>
        <a href="{{ path('participates_new') }}" class="alert alert-success">Create new</a>
    </div>
{% endblock %}
