{% extends 'back_office/index.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}
    <h1>Maintenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>MaintenanceDate</th>
                <td>{{ maintenance.maintenanceDate ? maintenance.maintenanceDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ maintenance.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ maintenance.creator }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maintenance_index') }}">back to list</a>

    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">edit</a>

    {{ include('maintenance/_delete_form.html.twig') }}
{% endblock %}
