{% extends 'back_office/index.html.twig' %}


{% block title %}Expired Borrowings index{% endblock %}

{% block body %}
    <h1>Emprunts expirés</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <td>Prénom</td>
            <td>Nom</td>
            <th>StartDate</th>
            <th>ExpectedReturnDate</th>
            <th>EffectiveReturnDate</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for eb in expiredBorrowings %}
            <tr>
                <td>{{ eb.id }}</td>
                <td>{{ eb.memberId.firstName }}</td>
                <td>{{ eb.memberId.lastName }}</td>
                <td>{{ eb.startDate ? eb.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ eb.expectedReturnDate ? eb.expectedReturnDate|date('d-m-Y') : '' }}</td>
                <td>{{ now | date('d-m-Y')}}</td>

                <td class="alert {% if tab[eb.id] ==  'dernière relance' %} alert-danger
                                 {% elseif tab[eb.id] ==  'seconde relance' %} alert-warning
                                 {% else %} alert-success
                                 {% endif %}">{{ tab[eb.id] }}</td>
                <td>
                    <a href="{{ path('borrowing_show', {'id': eb.id}) }}">show</a>
                    <a href="{{ path('borrowing_edit', {'id': eb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
