{% extends 'back_office/index.html.twig' %}


{% block title %}Expired Borrowings index{% endblock %}

{% block body %}
    <h1>Emprunts expirés</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>StartDate</th>
            <th>ExpectedReturnDate</th>
            <th>Message</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for eb in expiredBorrowings %}
            <tr>
                <td>{{ eb.id }}</td>
                <td>{{ eb.startDate ? eb.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ eb.expectedReturnDate ? eb.expectedReturnDate|date('Y-m-d H:i:s') : '' }}</td>


                <td class="alert alert-danger">{{ expiredMessage }}</td>


                <td>
                    <a href="{{ path('borrowing_show', {'id': eb.id}) }}">show</a>
                    <a href="{{ path('borrowing_edit', {'id': eb.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
