{% extends 'base.html.twig' %}

{% block title %}Borrowing{% endblock %}

{% block body %}
    <h1>Borrowing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ borrowing.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ borrowing.startDate ? borrowing.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExpectedReturnDate</th>
                <td>{{ borrowing.expectedReturnDate ? borrowing.expectedReturnDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EffectiveReturnDate</th>
                <td>{{ borrowing.effectiveReturnDate ? borrowing.effectiveReturnDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('borrowing_index') }}">back to list</a>

    <a href="{{ path('borrowing_edit', {'id': borrowing.id}) }}">edit</a>

    {{ include('borrowing/_delete_form.html.twig') }}
{% endblock %}
