{% extends 'back_office/index.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.pseudo }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.phoneNumber }}</td>
                <td>{{ employee.email }}</td>
                <td>
                    <a href="{{ path('employee_show', {'id': employee.id}) }}">show</a>
                    {%  if is_granted('EDIT', employee) %}
                    <a href="{{ path('employee_edit', {'id': employee.id}) }}">edit</a>
                    {%  endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-between">
        <div class="pagination">
            {{ knp_pagination_render(employees) }}
        </div>
{#{%  if is_granted('NEW', employees) %}#}
        <a href="{{ path('employee_new') }}" class="alert alert-success">Create new</a>
{#{%  endif %}#}
    </div>

{% endblock %}
