{# templates/emails/registration.html.twig #}
<h3>Email de relance</h3>



Bonjour {{ member.memberId.firstName }} {{ member.memberId.lastName }}!
Votre emprunt n° {{ member.id }} est expiré depuis le {{ member.expectedReturnDate | date('d-m-Y')}}.
{% for key, expm in messages %}{% if member.id == key %} {{ expm }}{% endif %} {% endfor %}


{#example, assuming you have a route named "login" #}

